@import url("https://fonts.googleapis.com/css?family=Markazi Text");
@import url("https://fonts.googleapis.com/css?family=serif");
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: serif;
    text-align: center;
}
.wrapper{
    width:90%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;
}
