@import url("https://fonts.googleapis.com/css?family=Markazi Text");
@import url("https://fonts.googleapis.com/css?family=serif");
*.rectangle-box {
    width: 500px; 
    height: 200px; 
    background-color: rgba(138, 142, 143, 0.906); 
    border: 2px solid rgba(97, 99, 100, 0.906); 
    padding: 20px;
    margin: 50px auto; 
    text-align: center; 
    box-sizing: border-box; 
    ;
}

.rectangle-box h1 {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.rectangle-box p {
    color: #333;
    font-size: 16px;
}

.nice-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #000000;
    color: rgb(80, 163, 196);
    text-decoration: none;
    font-family: "Merriweather";
    font-size: 16px;
    border-radius: 10px;
    transition: 0.3s;
}

.nice-btn:hover {
    background-color: #1b1b1b;
    transform: scale(1.05);
}
